@model IEnumerable<LibraryService.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>


<table class="table">
    <tr>
        <th> </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberSince)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>  @Html.ActionLink("Borrow", "StartCheckout", new { id = item.UserId }) |
        @Html.ActionLink("Return", "ReturnBook", new { id = item.UserId })        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberSince).ToString()
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
        </td>
    </tr>
}

</table>
