@model IEnumerable<LibraryService.Models.LibraryItem>

@{
    ViewBag.Title = "ShowBookmarks";
}

@if (Model.Any())
{
<h2>Your favourites.</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LibraryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LibraryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgeRestriction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>

        @if (item.Type == LibraryService.Models.Type.Book)
            {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id, Controller = "Books" }) |
            @Html.ActionLink("Remove Bookmark", "DeleteBookmark", new { id = item.id, Controller = "Books" })
        </td>
            }
        @if (item.Type == LibraryService.Models.Type.DVD)
            {
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.id, Controller = "DVDs" }) |
            @Html.ActionLink("Remove Bookmark", "DeleteBookmark", new { id = item.id, Controller = "DVDs" })
        </td>
            }
    </tr>
        }
</table>

}
else
{
<h2>Your favourites.</h2>
<p>Apparently you have nothing saved to favourites at the moment.</p>
}