@model IEnumerable<LibraryService.ViewModels.BooksIndexVIewModel>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<table class="table">
    <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Author</th>
        <th>Library Name</th>
        <th>Availability</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.book.id</td>
        <td>@item.book.Title</td>
        <td>@item.book.Author</td>
        <td>@item.libraryname</td>
        <td>@item.book.Status</td>
    </tr>
}

</table>
