@model IEnumerable<LibraryService.Models.Book>

@{
    ViewBag.Title = "ReturnBook";

}
@if (Model.Any())
{

<div class=" bg-info">

    <h2>Return Books</h2>
    <h4>CustomerID = @ViewBag.CustomerID</h4>

</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
                       
        <th>
            @Html.DisplayNameFor(model => model.LibraryId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedUntil)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.LibraryId)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedUntil)
        </td>
        
        <td>
            @Html.ActionLink("Renew", "RenewBook", new { BookID = item.id }) |
            @Html.ActionLink("Return", "ReturnBook", new { BookID = item.id }) |
              </td>
    </tr>
}

</table>
}
else
{
    <h2>Your items </h2>
        <p>You currently have no items loaned</p>
}
