@model IEnumerable<LibraryService.Models.DVD>

@{
    ViewBag.Title = "Index";
}

@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    PagedList<LibraryService.Models.DVD> dvds = ViewBag.onePageOfDVDs;
    if (dvds.Count > 0)
    {
        <h2>List of DVDs</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        using (Html.BeginForm())
        {
            <p>
                Search books: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
                <div>
                    @Html.DropDownList("Genre",
                       new SelectList(Enum.GetValues(typeof(LibraryService.Models.Genre))),
                       "Select Genre",
                       new { @class = "form-control" })
                </div>
                <div>
                    @Html.DropDownList("Status",
                       new SelectList(Enum.GetValues(typeof(LibraryService.Models.Status))),
                       "Select Status",
                       new { @class = "form-control" })
                </div>
            </p>
        }

        @Html.ActionLink("See New DVDs", "GetNewDVDs")

        <table class="table" id="myTable">
            <thead class="bg-info">
                <tr>
                    <th onclick="sort(0)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Director)
                    </th>
                    <th onclick="sort(1)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th onclick="sort(2)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.DVDGenre)
                    </th>
                    <th onclick="sort(3)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th onclick="sort(4)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th onclick="sort(5)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.AgeRestriction)
                    </th>
                    <th onclick="sort(6)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.PublishedAt)
                    </th>
                    <th onclick="sort(7)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th onclick="sort(8)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th onclick="sort(9)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th onclick="sort(10)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th onclick="sort(11)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.LibraryId)
                    </th>
                    <th onclick="sort(12)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in ViewBag.onePageOfDVDs)
                {
                <tr>
                    <td>
                        @item.Director
                    </td>
                    <td>
                        @item.Duration min
                    </td>
                    <td>
                        @item.DVDGenre
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Publisher
                    </td>
                    <td>
                        @item.AgeRestriction.ToString().Replace("_", " ")
                    </td>
                    <td>
                        @item.PublishedAt
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @(new LibraryService.DAL.LibraryContext().Libraries.Find(item.LibraryId).Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        @Html.ActionLink("Bookmark", "Bookmark", new { id = item.id })
                    </td>
                </tr>
            }

        </table>

        @Html.PagedListPager((IPagedList)ViewBag.onePageOfDVDs, page => Url.Action("Index", new { page }))

    }

    else

    {
        <h2>Sorry.</h2>
        <p>We can't find any DVDs you are looking for</p>
        @Html.ActionLink("Back to List", "Index")
    }
}

<script>
    function sort(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
       no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
               based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
               and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>
