@model IEnumerable<LibraryService.Models.DVD>

@{
    ViewBag.Title = "Index";
    var message = ViewBag.message;
}

<h2>@ViewBag.message</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.ActionLink("See New DVDs", "NewDVDs")

    <table class="table" id="myTable">
        <thead class="bg-info">
            <tr>
                <th onclick="sort(0)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Director)
                </th>
                <th onclick="sort(1)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th onclick="sort(2)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.DVDGenre)
                </th>
                <th onclick="sort(3)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th onclick="sort(4)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th onclick="sort(5)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.AgeRestriction)
                </th>
                <th onclick="sort(6)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.PublishedAt)
                </th>
                <th onclick="sort(7)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th onclick="sort(8)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th onclick="sort(9)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th onclick="sort(10)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th onclick="sort(11)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.LibraryId)
                </th>
                </th>
                <th onclick="sort(12)" onmouseover="this.style.textDecoration = 'underline'" onmouseout="this.style.textDecoration = 'none'">
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DVDGenre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRestriction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    @Html.ActionLink("Bookmark", "Bookmark", item)
                </td>
            </tr>
        }

    </table>
