@model LibraryService.Models.DVD

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DVD</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration) min
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DVDGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DVDGenre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeRestriction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeRestriction).ToString().Replace("_", " ")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibraryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => (new LibraryService.DAL.LibraryContext().Libraries.Find(model.LibraryId).Name))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Staff"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.PurchaseValue)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PurchaseValue)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReturnDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
        }

    </dl>
</div>
<p>
    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Staff"))
    {
        <div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        </div>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
