@model IEnumerable<LibraryService.Models.Library>

@{
    ViewBag.Title = "Index";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
</head>
<h2>Libraries</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search Libraries: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button class="collapsible">@item.Name</button>
                <div class="content">
                    <p>@item.Address </p> 
                    <p> @item.PostCode </p>
                    <p> @item.TelephoneNumber</p>
                    <p> @item.OpeningHours</p>
                </div>
            </td>
        </tr>
    }

</table>




<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>

